body {
  color: #40514E;
  font-family: "Merriweather", serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66bfbf;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  margin: 50px auto 0;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover

/*pseudo class for CSS selector */
  {
  color: #eaf6f6;
}

p {
  color: #40514e;
  line-height: 2;
  /*overrides parent property in body*/
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 4%;
  ;
  /*
  border-color: #eaf6f6;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
  */
}

.intro {
  margin: auto;
  width: 25%;
}

.pro {
  text-decoration: underline;
}

.top-container {
  background-color: #f3f1f5;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin: 100px 0;
}

.contact-me {
  margin-top: 75px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  bottom: 300px;
  left: 250px;
  position: absolute;
}

.headerimages {
  width: 25%;
}

.skills {
  margin-top: 75px;
}

.profile {
  margin-bottom: 75px;
}

.skill-row {
  margin: 100px auto;
  /*remember the circle: top right bottom left */
  text-align: left;
  width: 75%;
}

.runner-img {
  float: left;
  margin-right: 25px;
  width: 25%;
}

.finish-img {
  float: right;
  margin-left: 25px;
  width: 25%;
}

.footer {
  background-color: #66bfbf;
  padding: 50px 0 20px;
  /* my attempt:
  background-color: #66bfbf;
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
  padding: 25px;
  */
}

.copyright {
  color: #eaf6f6;
  padding: 20px 0;
}

.contact-message {
  margin: 40px auto;
  width: 40%;
  ;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  border-radius: 8px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin: 75px auto;
  padding: 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.footer-credit {
  margin: 0;
}

/*****Display & relative vs absolute position examples for divs --- juggling them around*/
/*
.red{
  background-color:red;
  width:100px;
  height:100px;
  position:relative;
  display:inline-block;
  left:200px;
}

.blue{
  background-color:blue;
  width:100px;
  height:100px;
  position:relative;
  display:inline-block;
  right:100px;
}

.yellow{
  background-color:yellow;
  width:100px;
  height:100px;
  position:relative;
  display:inline-block;
  right:100px
}
*/
/*use 'clear' as the anti-float

 eg of clear:

.skills-p {
clear:right;
}

*/
/*line-height:2;*/
/*no units are used for line-height by convention*/
/*can use % font size
>default is 100%=16px so 90/16*100=562.5%
>can also use em. 1em=16px
>if you use a dynamic font then it responds to the browser zoom size
>em or % are inherited values (parent of the H1 here is the body)
>if you use "rem" (root em) it ignores the parent*/